.offer
  padding: 129px 0
  &__title
    font-size: 25px
    text-transform: uppercase
    +bold
    margin-bottom: 20px
  &__subtitle
    display: block
    font-size: 21px
    margin-bottom: 48px

.offer-block
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1)
  padding: 80px
  margin-top: -200px
  background: #fff url('../img/offer/offer-bg.jpg') no-repeat right top
  background-size: contain
.form
  &__row
    display: flex
    align-items: center
    max-width: 900px
    margin-bottom: 25px
    &:last-child
      margin-bottom: 0
  &__label
    display: block
    font-size: 17px
    margin-bottom: 15px
  &__group
    flex-basis: 33.33%
    &:last-child input
      border-right: 1px solid #ddd
    &:last-child input.form__button
      border-right: none
  &__input
    width: 100%
    border-right: none
  &__button
    height: 80px
    width: 100%
    cursor: pointer
@media all and (max-width: 1199px)
  .offer-block
    background-position: right -120px top
@media all and (max-width: 767px)
  .offer
    &__title
      font-size: 18px
    &__subtitle
      font-size: 16px
  .offer-block
    background: none
    background-color: #fff
    padding: 40px
    margin-top: -300px
  .form
    &__row
      flex-direction: column
      &-checkbox
        flex-direction: row
    &__group
      flex-basis: 100%
      width: 100%
    &__input 
      border-right: 1px solid #ddd
      margin-bottom: 20px
@media all and (max-width: 480px)
  .form
    &__row
      &-checkbox
        flex-direction: column
        align-items: flex-start
    &__checkbox
      margin-bottom: 20px
    
  


  